@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
    font-family:  sans-serif;
    --color: #70be51;
    text-decoration: none;
    background-color: #0c2935;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgoldenrod;
}

.container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows:15vh 75vh 10vh;
	grid-template-areas:"header header"
						"main main"
						"footer footer"												
}

header {
    background: rgb(12,41,53);
background: linear-gradient(221deg, rgba(12,41,53,1) 34%, rgba(16,8,134,0.9500175070028011) 70%, rgba(0,161,194,1) 92%);
	grid-area: header;
    opacity: .9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10% 0;
}

.logo {

    color: white;
    font-size: 22px;
}

.logo span {
    color: var(--color);

}

/*menu*/

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 10%;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;

}

.sub-palestrante {
    text-align: center;
}

nav ul li a:hover {
    color: var(--color);
    transition: .3s;
}

/*sub-menu*/

nav ul ul {
    display: none;
    /*desabilita o submenu*/
    position: absolute;
    width: 10%;
}

nav ul li:hover ul {
    display: block;
    background-color: #00b7bd;
    transition: .3s;
    opacity: .9;
    border-radius: 7px;

}

nav ul li:hover ul a {
    display: block;


}

button {
    border: none;
    background-color: var(--color);
    border-radius: 30px;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .3s;
}

button:hover {
    transform: scale(1.2);
    /*ao passar o mouse em cima vai expandir*/
}

/*FIM DO HEADER*/

/*INICIO DO MAIN*/


main {
	background: linear-gradient(to right, #28575d 10%, #45c0bc 99%);
	grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.slider {
    width: 70%;
    height: 65%;
    overflow: hidden;
    position: absolute;
    display: grid;
    justify-self: center;
    align-self:center;
    
}


.nav-bar {
    position: absolute;
    bottom: 15%;
    display: flex;
    left: 50%;
    transform: translate(-50%); 

}

input {

    display: none;

}

.manual-btn {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background: white;
    transition: 0.4s;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 95%;
    border-radius: 70px;
    opacity: .80;
}

#radio1:checked~.first {
    margin-left: 0;

}

#radio2:checked~.first {
    margin-left: -25%;

}

#radio3:checked~.first {
    margin-left: -50%;

}

#radio4:checked~.first {
    margin-left: -75%;
}

aside {
	background: linear-gradient(to right, #45c0bc 10%, #28575d 99%);
	
	grid-area: aside;
}

footer{
	grid-area:footer;
}

.footer-background {
    background-color: #0c2935;
    position: flex;
    text-align: center;
    justify-content: center;

}



.footer-nav ul li {
    list-style-type: none;
    padding-left: 20px;
    justify-content: center;
    margin-top: -100px;
   
}

.footer-nav ul li a {
    display: flex;
    font-size: 14px;
    
}

.footer-copyright p {

    text-align: right;
    color: white;
    font-size: 12px;

}

/*FIM DO FOOTER*/


/*inscricao e local*/

.inscricao input, label {
    border-radius: 50px;
    margin-top: 20px;
    justify-content: center;
    opacity: .8;
}


.inscricao .submit, .reset{
    background-color: #70be51;
    border-radius: 50px;
    
}

#local-inscricao {
    justify-content: space-evenly;
   
}

#local-inscricao h2, h5{
    text-align: center;
}

tr {
    border: 10px solid black;
}